@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-light: rgba(170, 59, 255, 0.1);
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-hover: #334155;
  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-border: #334155;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}

@layer base {
  body {
    @apply bg-[var(--color-background)] text-[var(--color-text)] antialiased bg-[#0f172a];
  }
}
